name: Integration Tests
on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - "v*"

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      INTEGRATION_TESTS: "true"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          cache-dependency-path: go.sum
          go-version-file: go.mod
      - name: QEMU/Libvirt installation and configuration
        run: |
          # Install QEMU/Libvirt packages
          sudo apt-get update
          sudo apt-get install -y qemu-kvm libvirt-daemon-system libvirt-clients bridge-utils virt-manager

          # Configure udev
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      # If event is a pull request, set global variables
      # that will be used throughout the workflow jobs
      - name: Set pull_request event variables
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          # Used by the workflow jobs responsible for doing the actual integration testing
          echo "IMG_REPO=registry.opensuse.org/devel/unifiedcore/tumbleweed/prs/suse/elemental/pr-${{ github.event.pull_request.number }}/containers" >> "$GITHUB_ENV"
          # Used by the workflow jobs responsible for polling the state of the OBS project
          # that was created in relation to this pull request
          echo "OBS_PROJ=devel:UnifiedCore:Tumbleweed:PRs:SUSE:elemental:PR-${{ github.event.pull_request.number }}" >> "$GITHUB_ENV"
      # Ensure that all OBS repository packages related to this
      # pull request (or any subsequent commits in the pull request)
      # are successfully built
      - name: Wait for OBS repositories package build
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          source scripts/obs_wait_lib.sh
          wait_for_repo_pkg_build "$OBS_PROJ" "standard"
          wait_for_repo_pkg_build "$OBS_PROJ" "sysexts"
          wait_for_repo_pkg_build "$OBS_PROJ" "containers"
      # Ensure that all OBS repository artefacts related to this
      # pull request (or any subsequent commits in the pull request)
      # have been published
      - name: Wait for OBS repositories artefact publish
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          source scripts/obs_wait_lib.sh
          wait_for_repo_publish "$OBS_PROJ" "standard"
          wait_for_repo_publish "$OBS_PROJ" "sysexts"
          wait_for_repo_publish "$OBS_PROJ" "containers"
      # Ensure that all pushed container images related to this
      # pull request (or any subsequent commits in the pull request)
      # match the SHA256 of the last "published" OBS container artefact
      - name: Wait for necessary image state to match source OBS package
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          DEFAULT_IMG="$IMG_REPO/uc-base-os-kernel-default:latest"
          ISO_IMG="$IMG_REPO/uc-base-kernel-default-iso:latest"
          RM_IMG="$IMG_REPO/release-manifest:latest"
          
          source scripts/obs_wait_lib.sh
          wait_image_to_source_match "$DEFAULT_IMG" "$OBS_PROJ/elemental-base-os:default"
          wait_image_to_source_match "$ISO_IMG" "$OBS_PROJ/elemental-base-os:default-iso"
          wait_image_to_source_match "$RM_IMG" "$OBS_PROJ/release-manifest-image"
      - name: Generate OS disk image
        run: |
          make build-disk
      - name: Run installer test
        run: |
          make VERBOSE=true ELMNTL_FIRMWARE=/usr/share/OVMF/OVMF_CODE_4M.fd test-installer
      - name: Clean test
        if: ${{ always() }}
        run: |
          make test-stop || true
          make test-clean || true
