name: Integration Tests
on:
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      INTEGRATION_TESTS: "true"
      ELMNTL_FIRMWARE: "/usr/share/OVMF/OVMF_CODE_4M.fd"
      VERBOSE: "true"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          cache-dependency-path: go.sum
          go-version-file: go.mod
      - name: QEMU/Libvirt installation and configuration
        run: |
          # Install QEMU/Libvirt packages
          sudo apt-get update
          sudo apt-get install -y qemu-kvm libvirt-daemon-system libvirt-clients bridge-utils virt-manager

          # Configure udev
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      # If event is a pull request, set global variables
      # that will be used throughout the workflow jobs
      - name: Set pull_request event variables
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          # Used by the workflow jobs responsible for doing the actual integration testing
          echo "IMG_REPO=registry.opensuse.org/devel/unifiedcore/tumbleweed/prs/suse/elemental/pr-${{ github.event.pull_request.number }}/containers" >> "$GITHUB_ENV"
          # Used by the workflow jobs responsible for polling the state of the OBS project
          # that was created in relation to this pull request
          echo "OBS_PROJ=devel:UnifiedCore:Tumbleweed:PRs:SUSE:elemental:PR-${{ github.event.pull_request.number }}" >> "$GITHUB_ENV"
      - name: Wait for OBS project artefacts build and publish
        if: ${{ github.event_name == 'pull_request' }}
        uses: ./.github/actions/obs/wait-build-and-publish
        with:
          obs_project: ${{ env.OBS_PROJ }}
      - name: Wait for available images to be synced with latest OBS artefact state
        if: ${{ github.event_name == 'pull_request' }}
        uses: ./.github/actions/obs/wait-image-sync
        with:
          obs_project: ${{ env.OBS_PROJ }}
          image_repo: ${{ env.IMG_REPO }}
      - name: Generate OS disk image
        run: |
          make build-disk
      - name: Run installer test
        run: |
          make test-installer
      - name: Clean installer test
        if: ${{ always() }}
        run: |
          make clean-test || true
      - name: Run customize ISO test
        run: |
          make test-customize-iso
      - name: Clean customize ISO test
        if: ${{ always() }}
        run: |
          make clean-test || true
      - name: Run customize RAW test
        run: |
          make test-customize-raw
      - name: Clean customize RAW test
        if: ${{ always() }}
        run: |
          make clean-test || true
